* {
    box-sizing: border-box; /* для всех элементов, отменяет увеличение елементов*/
    margin: 0;
    padding: 0;
    font-family: yzoo;
    font-weight: normal; /* насыщенность*/
    font-style: normal;
    src: url(/шрифты/оч\ няшный.ttf)
    
   
} 

@font-face {
    font-family: yzoo;
   font-weight: normal; /* насыщенность*/
   font-style: normal;
   src: url(/шрифты/оч\ няшный.ttf)
}




.conteiner-fluid {
    width: 100%;
    background-color: #570000;
    
   
    
} /* блок сверху сайта на всю страницу*/

.conteiner {
    max-width: 1400px;
    background-color: black;
    margin: 0 auto;
    border: 1px solid #700808;

}

.d-flax {
     display: flex; /* выравновает текст по странице */
     justify-content: space-between; /* толкает каждый по своей стороне */
     align-items: center; /* выравнивает вертикале */

}

body {
    font-family: "yzoo", Arial, Helvetica, sans-serif;
    width: 100%; /* ширина текста */
    font-size: 16px; /* размер текста*/

}

header .conteiner .menu a {
font-size: 1.15em; /* ширина текста */
text-decoration: none; /* убирает подчеркивание */
color: #700808;
margin: 0 20px;
}

header .conteiner .menu a:hover,
header .conteiner .menu a.active{
    color: #df5f5f;
    
    padding: 7px;
border-bottom: 2px solid #a20707 ;
} /* то что происходит с текстом при навидении на него мышкой */

header form div {
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #570000; /* рамка */
    border-radius: 30px; /* закругляет рамку */
    
}

header form div input[type="text"] {
    border: none;
    margin-right: 10px;
    background-color: black;
    color: #cd8181;
} /* блочок для текста */

header form div input[type="submit"]{
    background: url(/images/poisk.png) no-repeat ;
    background-size: cover;
    width: 15px;
    height: 18px; ;
    border: none;
} /* поиск */

header > .conteiner {
padding: 10px;
}

header form div input[type="submit"]:hover {
cursor: pointer;
} 

footer {
    background-color: #000000 ;
    padding-top: 50px; /* отступ снизу */
    padding-bottom: 20px;
}



footer .left figure figcaption {
    color:#d2c7c7;
    font-size: 12px;
    width: 140px;
    padding-left: 10px;
    padding-top: 1px;
    margin-bottom: 10px;
    
    

}

.pay {
    padding-left: 10px;
    padding-top: 10px; /* стас помог кстати, картинку сдвинуть на пару пикселей */
   
}

footer .left nav a {
    display: block;
    font-size: 16px;
    color: #700808;
    text-decoration: none;
    margin-bottom: 10px;
}

footer .left nav a:hover, footer .left nav a.active {
    color: #df5f5f;
}

figcaption {
    padding-top: 10px;
    padding-right: 10px;
}

footer .right form div {
    justify-content: left; /*выравнивание по левому краю*/
    margin-right: 19px;
    width: 485px;
    border-bottom: 1px solid #570000;
    
}

footer .right form input[type="text"] {
    padding: 8px 0px;
    width: 100%;
    background: none;
    border:none;
    color: #cd8181;
}

footer .right form input[type="submit"] {
    width: 20px;
    height: 20px;
    background: url(/images/poisk.png) no-repeat;
    background-size: cover;
    border: none;
}

.rom {
    color: #832a2a;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

footer .right .box {
    width: 50px;
    height: 50px;

}

footer .right .discord {
    background: url(/images/discord.png) no-repeat;
}

.era {
    justify-content: left; /*выравнивание по левому краю*/
    margin: 5px 10px;
    width: 485px;
   
}

footer .copyrigts {
    text-align: center;
    color: #7d7878;
    border: none;
    font-size: 10px;
}

.image1 {
    padding-left: 200px;
    padding-top: 200px;
    margin-bottom: 130px;
    margin-right: 40px
    
}

.image2 {
    padding-left: 300px;
    padding-top: 200px;
    margin-bottom: 170px;
    margin-right: 200px
}

.image3 :last-child {
    padding-left: 200px;
    padding-top: 200px;
    margin-bottom: 170px;
    margin-right: 0px
}

.image-container {
  text-align: center;
  color: #cc1515;
  background-color: #000000;
  border: #7d7878 2px;
}

.vikka {
    text-align: center;
    font-size: 10px;
    background-color: #000000;
    color: #d2c7c7;
    margin-bottom: 2px
}